beepy==1.0.7
black==23.1.0
boto3==1.17.27
commonmark==0.9.1
docutils==0.16
guizero==1.1.1
ipython==8.11.0
matplotlib==3.6.2
nbconvert==6.0.7
nbformat==5.0.8
networkx==3.0
numpy==1.23.3
opencv_python==4.5.2.52
pandas==1.5.1
protobuf==4.22.0
py2neo==2021.2.3
pytest==0.0.0
pyttsx3==2.90
rdflib==6.2.0
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
setuptools==56.0.0
six==1.15.0
SpeechRecognition==3.8.1
Sphinx==3.2.1
statsmodels==0.13.2
streamlit==1.19.0
streamlit_nested_layout==0.1.1
tensorflow==2.5.0
traitlets==5.0.5
